baseURL = 'https://Finerestaurant.github.io/new-token/'
languageCode = 'ko-kr'
title = "New token"
theme = "PaperMod"

[params]
  env = "production"
  mainSections = ["posts"]
  author = "Anthony Park"

[[menu.main]]
  identifier = "blog"
  name = "Blog"
  url = "/posts/"
  weight = 10

[[menu.main]]
  identifier = "archives"
  name = "Archives"
  url = "/archives/"
  weight = 20

[[menu.main]]
  identifier = "about"
  name = "About"
  url = "/about/"
  weight = 30

[[menu.main]]
  identifier = "contact"
  name = "Contact"
  url = "/contact/"
  weight = 40

[markup.goldmark.renderer]
  unsafe = true  # 비디오 태그 등 Raw HTML 허용
